body{
    
}
header{
    background-color: rgb(82, 175, 144);
    padding: 20px;
    border-bottom: 2px solid white;
    font-size: 32px;
    color: white;
}
#foto{
    width: 100%;
    height: 600px;
    display: block;
    padding: 10%;
    margin: auto;
}

h1{
    text-align: center;
    background-color: #CCCCCC;
    margin-inline-end: 20%;
}
p{
    color: rgb(47, 2, 36);
    font-size: 20px;
    text-align: justify;
    
}
#missao{
    font-size: 20px;
}
em strong{
    color: rgb(9, 163, 158);
}
.itens{
    font-style: italic;
}
.beneficios{
background-color: aliceblue;
}